<style>
    div{
        position: fixed;
        top: -50px;
        transition: top 0.3s;
        padding-bottom: 23px;
    }

    nav{
        border-bottom: 1px solid white; 
    }

    div:hover {
        top: 0; 
    }
</style>

<header class="flex justify-between items-center">
    <div>
        <nav class="mt-2 justify-center">
            <a class='mr-3 hover:border-t-rose-700 hover:border-b-rose-700 hover:border-l-orange-600 hover:border-r-orange-600 border border-transparent p-1 nav-link' href="/">Inicio</a>
            <a class='mr-3 hover:border-t-rose-700 hover:border-b-rose-700 hover:border-l-orange-600 hover:border-r-orange-600 border border-transparent p-1 nav-link' href="/Sobre-mi">Sobre mí</a>
            <a class='mr-3 hover:border-t-rose-700 hover:border-b-rose-700 hover:border-l-orange-600 hover:border-r-orange-600 border border-transparent p-1 nav-link' href="/Skills">Skills</a>
            <a class='mr-3 hover:border-t-rose-700 hover:border-b-rose-700 hover:border-l-orange-600 hover:border-r-orange-600 border border-transparent p-1 nav-link' href="/Proyectos">Proyectos</a>
        </nav>
    </div>
   
</header>