<style>
  body {
    margin: 0;
    padding: 0;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Ajuste la altura según su preferencia */
  }

  div {
    position: fixed;
    top: -50px;
    transition: top 0.3s;
    padding-bottom: 30px;
  }

  div:hover {
    top: 0;
    margin-top: 5px;
  }

  nav {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    transition: padding-bottom 0.7s;
  }

  nav:hover {
    padding-bottom: 10px;
    transition: padding-bottom 0.7s;
  }

  .text-neon {
    text-shadow: 0 0 20px #000;
    transition: text-shadow 0.7s;
  }

  .text-neon:hover {
    text-shadow:
      0 0 2px #fff,
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px #eb043b,
      0 0 30px #eb043b,
      0 0 40px #eb043b,
      0 0 55px #eb043b,
      0 0 75px #eb043b;
    transition: text-shadow 0.7s;
  }
</style>

<div>
  <nav>
    <a class="ml-3 mr-3 text-neon nav-link" href="/">Inicio</a>
    <a class="mr-3 text-neon nav-link" href="/Sobre-mi">Sobre mí</a>
    <a class="mr-3 text-neon nav-link" href="/Skills">Skills</a>
    <a class="mr-3 text-neon nav-link" href="/Proyectos">Proyectos</a>
  </nav>
</div>
