---
import Titular from "./Titular.astro"
---

<style>
    .shadow{
        filter: grayscale(100%) brightness(60%);

    }
</style>

<section>
    <div class="grid grid-cols-3">
      <div>
        <img class="shadow" src="images/yo3.png" alt="logo">
      </div>
      <div>
        <Titular />
      </div>
      <div>
        <img src="images/logo2024.png" alt="logo">
      </div>
    </div>
  </section>