---
import CssIcon from '../svgs/CssIcon.astro';
import HtmlIcon from '../svgs/HtmlIcon.astro';
import JsIcon from '../svgs/JsIcon.astro';
import GitIcon from '../svgs/GitIcon.astro';
import GithubIcon from '../svgs/GithubIcon.astro';
import PhpIcon from '../svgs/PhpIcon.astro';
import SymfonyIcon from '../svgs/SymfonyIcon.astro';
import ReactIcon from '../svgs/ReactIcon.astro';
import BootstrapIcon from '../svgs/BootstrapIcon.astro';
import TailIcon from '../svgs/TailIcon.astro';
---

<div class="flex justify-center mt-14">
    <div class="max-w-screen-lg mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3">
            <div class="bg-dark p-4 text-center"> 
                <h2 class="text-lg font-bold mb-4">Lenguajes</h2>
                <div class="grid grid-cols-3 gap-4 m-5">
                    <div class="text-center flex flex-col items-center">
                        <HtmlIcon />
                        <p class="text-sm mt-2">HTML</p>
                    </div>
                    <div class="text-center flex flex-col items-center">
                        <CssIcon />
                        <p class="text-sm mt-2">CSS</p>
                    </div>
                    <div class="text-center flex flex-col items-center">
                        <JsIcon />
                        <p class="text-sm mt-2">JS</p>
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-4 m-5">
                    <div class="text-center flex flex-col items-center">
                        <PhpIcon />
                        <p class="text-sm mt-2">PHP</p>
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-4 m-5">
                </div>
            </div>
            <div class="bg-dark p-4 text-center"> 
                <h2 class="text-lg font-bold mb-4">Frameworks</h2>
                <div class="grid grid-cols-3 gap-4 m-5">
                    <div class="text-center flex flex-col items-center">
                        <ReactIcon />
                        <p class="text-sm mt-2">React</p>
                    </div>
                    <div class="text-center flex flex-col items-center">
                        <SymfonyIcon />
                        <p class="text-sm mt-2">Symfony</p>
                    </div>
                    <div class="text-center flex flex-col items-center">
                        <TailIcon />
                        <p class="text-sm mt-2">TailWindCSS</p>
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-4 m-5">
                    <div class="text-center flex flex-col items-center">
                        <BootstrapIcon />
                        <p class="text-sm mt-2">Bootstrap</p>
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-4 m-5">

                </div>
            </div>
            <div class="bg-dark p-4 text-center"> 
                <h2 class="text-lg font-bold mb-4">Tecnologías</h2>
                <div class="grid grid-cols-3 gap-4 m-5">
                    <div class="text-center flex flex-col items-center">
                        <GithubIcon />
                        <p class="text-sm mt-2">Github</p>
                    </div>
                    <div class="text-center flex flex-col items-center">
                        <GitIcon />
                        <p class="text-sm mt-2">Git</p>
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-4 m-5">
                    
                </div>
                <div class="grid grid-cols-3 gap-4 m-5">

                </div>
            </div>
        </div>
    </div>
</div>