<style>
    h1 {
            color: #eb043b;
            font-size: 100px;
            text-shadow: 0 0 10px #000000; /* Aplica un brillo con una sombra roja */
        }

</style>

<section class="text-center mt-10">
    <h1 class="mb-2">GassinDev</h1>
    <h2>Desarrollador de Aplicaciones Web</h2>
</section>